
<!--Projects Page-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Learn Student Club</title>

    <link rel="stylesheet" href="{%static 'css/style.css' %}">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="header">
        <div class="logo-container">
            <img src="{%static 'images/home/MLSC Logo.png' %}" alt="Logo" class="team-logo">
            <a href="{% url 'home' %}" class="logo">Microsoft Learn Student Club<span class="animate" style="--i:1;"></span></a>
        </div>

        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>

        <nav class="navbar">
            <a href="{% url 'home' %}" id="index-link" >Home</a>
            <a href="{% url 'team' %}" id="teams-link">Team</a>
            <a href="{% url 'event' %}" id="events-link">Events</a>
            <a href="{% url 'blog' %}" id="blogs-link">Blog</a>
            <a href="{% url 'project' %}" id="projects-link" class="active">Projects</a>

            <span class="active-nav"></span>
            <span class="animate" style="--i:2;"></span>
        </nav>
    </header>

    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title"></h1>
        </div>
    </div>
    <section class="services" id="services">
        <h2 class="heading">Our Projects</h2>
        <div class="services-container">
            <div class="services-box">
                <div class="content">
                    <h3>Coming Soon...</h3>
                    <p></p>
                </div>
                <div class="image-container">
                </div>
            </div>
        </div>
    </section>
    
    <script src="{%static 'js/script.js' %}"></script>
</body>

</html>
